.board {
  display: grid;
  background-color: #bea6a6;
  height: 800px;
  width: 800px;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.black {
  background-color: darkgrey;
}

.white {
  background-color: whitesmoke;
}

.selected {
  background-color: lightcoral;
}

.pawn {
  height: 75%;
  width: 75%;
}
